/* .card-char{
    min-width: 280px;
    max-width: 350px;
} */

.card-char{
    background: #F0F0F0;
    border-radius: 8px;
    height: 135px;
    /* width: 350px; */
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.2);

    color: #212121;
    margin-bottom: 45px;

    margin-right: 35px;    
}

.card-char:hover{
    cursor: pointer;
    background: white;
    box-shadow: 5px 5px 5px 5px rgba(33, 33, 33, 0.2);
}

.card-char:active{
    cursor: pointer;
    background: #F0F0F0;
    box-shadow: none;
}

.card-char-content{
    padding: 6px 25px 0;
}

.card-char-content__name{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
}

.card-char-content-in-circle{
    display: flex;
    margin-bottom: 12px;
    min-height: 60px;
}

.card-char-content-in-circle__param{
    margin-right: 10px;
}

.card-char-content-in-circle__param-value{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 35px;
    width: 38px;
    border: 3px solid #212121;
    border-radius: 25px;
}

.card-char-content-plates{
    display: flex;
}

.card-char-content-plates__plate{
    height: 17px;
    min-width: 72px;
    padding: 0 12px;
    /* background-color: #07d6f2; */
    background-color: #fff;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    margin-right: 15px;
}

/* .male{
    background-color: #73d677;   
}

.female{
    background-color: #c956ff;
}

.hermaphrodite{
    background-color: #f5db13;
} */
