/* .characters{
    margin: 0 7%;
} */

.characters__language{
    text-align: right;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4B4B4B;
    margin: 28px 0;
    cursor: pointer;
}

.characters__language:hover{
    text-decoration: underline;
}

.characters__title{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    /* margin-top:50px; */
    letter-spacing: 3px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.characters__title_bold{
    font-weight: 700;
}

.characters-filter{
    margin: 30px 0;
}

.characters-filter__label{
    margin-right: 18px;
}

.characters-cards-area_flex-center{
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: space-between; */
    width: 1155px;
}

.characters-button-area{
    padding-bottom: 50px;
    padding-top: 50px;
}

.characters-button-area__button{
    background: #1F2A63;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    width: 231px;
    height: 66px;
    border: 0;    
    font-size: 32px;
    font-weight: 700;
    color: white;
    
    display: block;
    margin: 0 auto;
}

.characters-button-area__button:hover{
    cursor: pointer;
    background: #73D677;
    color: rgba(33, 33, 33, 1);
}

.characters-button-area__button:active{
    background: #1F2A63;    
    color: white;
    box-shadow: none;
}