.modal-window__blackout{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: visibility 2s;
    z-index: 11;
}

.modal-window-full-card, .modal-window__button-close{
    z-index: 12;
}

.modal-window-full-card{
    position: fixed;

    height: 370px;
    width: 800px;
    border-radius: 8px;

    top: calc(50% - 185px);
    left: calc(50% - 400px);

    background: linear-gradient(180deg, #17002F 42.19%, #1F2A63 100%);
    color: rgb(253, 253, 253);
}

.modal-window-full-card{
    display: flex;
    flex-wrap: wrap;
}

.modal-window-full-card-left-block{
    width: 364.34994506836085px;
    background-color: rgb(31, 42, 99);
    border-radius: 8px 0 0 8px;
}

.modal-window-full-card-left-block__icon{
    height: 340px;
}

.modal-window-full-card-left-block__icon > img{
    display: block;
    margin: auto;
    padding-top: 30px
}

.modal-window-full-card-left-block-plates{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.modal-window-full-card-left-block-plates__plate{
    color: #212121;
    height: 17px;
    min-width: 72px;
    padding: 0 12px;
    background: rgb(7, 214, 242);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    margin-right: 15px;
}

.modal-window-full-card-right-block__name{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    margin: 30px 0 0 15px;
}

.modal-window-full-card-right-block__text-params{
    width: 220px;
    border-radius: 8px;
    background: #FDFDFD;
    color: black;
    padding: 15px 23px;
    margin: 15px 23px;
}

.modal-window-full-card-right-block__circle{
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.modal-window-full-card-right-block__circle-param{
    margin-right: 10px;
    color: #212121;

    background: #FDFDFD;
    box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
    border-radius: 8px; 

    padding: 8px 23px;
    margin: 0 23px
}

.modal-window-full-card-right-block__circle-param-value{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 35px;
    width: 38px;
    border: 3px solid #212121;
    border-radius: 25px;
}













.modal-window__button-close{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0;

    position: fixed;
    top: 20px;
    right: 20px;

    background-color: white;
    color:black;
    font-size: 40px;
    font-weight: 700;
    line-height: 10px;
}


.modal-window__button-close:hover{
    cursor: pointer;
    color:#FFC107;
}

.male{
    background-color: rgb(115, 214, 119);   
}

.female{
    background-color: rgb(201, 86, 255);
}

.hermaphrodite{
    background-color: rgb(245, 219, 19 );
}
