@media (max-width: 620px) {
    .header-content__logo, .header-content-menu{
        margin: 0 auto;
    }
}

.header{
    background: #1F2A63;
    /* border-bottom: white 1px solid; */
    box-shadow: 0px 4px 16px white;
    position: relative;
    z-index: 100;
}

.header-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 7%;
}

.header-content__logo{
    height: 80px;
    margin-top: 5px;
    margin-right: auto;
}

.header-content-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-content-menu__item{
    margin-right: 20px;
    font-weight: 400;
    font-size: 25px;
    color: white;
}

.header-content-menu__item_active{
    border-bottom: 2px solid white;
}

.header-content-menu__item:last-child{
    margin-right: 0;
}

.header-content-menu__item:hover{
    color: #fec500;
}